@using EPiServer.Web.Mvc.Html
@* Views/OurTeamPage/Sections/_HeaderSection.cshtml *@
@model VIVEcms.Models.Pages.OurTeamPage

<div class="elementor-container elementor-column-gap-default">

@* ===== COLUMN 1: LEFT HEADINGS ===== *@
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8a0aed4" data-element_type="column" data-id="8a0aed4" data-settings='{"vive_ext_is_smoove":"true","vive_ext_smoove_disable":"769","vive_ext_smoove_duration":800,"vive_ext_smoove_translatex":{"unit":"px","size":50,"sizes":[]},"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_smoove_scalex":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_scaley":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_rotatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewx":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewy":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_transform_originx":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_transform_originy":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_perspective":{"unit":"px","size":1000,"sizes":[]},"vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
    <div class="elementor-widget-wrap elementor-element-populated">

        @* Heading Line 1 *@
        @if (!string.IsNullOrWhiteSpace(Model.HeaderHeading1))
        {
            <div class="elementor-element elementor-element-83a53a2 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="83a53a2" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <style>/*! elementor - v3.21.0 - 08-05-2024 */
                        .elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
                    </style>
                    <h2 class="elementor-heading-title elementor-size-default"
                        @Html.EditAttributes(x => x.HeaderHeading1)>
                        @Model.HeaderHeading1
                    </h2>
                </div>
            </div>
        }

        @* Heading Line 2 *@
        @if (!string.IsNullOrWhiteSpace(Model.HeaderHeading2))
        {
            <div class="elementor-element elementor-element-464dd69 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="464dd69" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default"
                        @Html.EditAttributes(x => x.HeaderHeading2)>
                        @Model.HeaderHeading2
                    </h2>
                </div>
            </div>
        }

        @* Heading Line 3 *@
        @if (!string.IsNullOrWhiteSpace(Model.HeaderHeading3))
        {
            <div class="elementor-element elementor-element-5123a92 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="5123a92" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default"
                        @Html.EditAttributes(x => x.HeaderHeading3)>
                        @Model.HeaderHeading3
                    </h2>
                </div>
            </div>
        }

    </div>
</div>

@* ===== COLUMN 2: RIGHT DESCRIPTION ===== *@
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-11a0a60" data-element_type="column" data-id="11a0a60" data-settings='{"vive_ext_is_smoove":"true","vive_ext_smoove_disable":"769","vive_ext_smoove_duration":800,"vive_ext_smoove_translatex":{"unit":"px","size":50,"sizes":[]},"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_smoove_scalex":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_scaley":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_rotatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewx":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewy":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_transform_originx":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_transform_originy":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_perspective":{"unit":"px","size":1000,"sizes":[]},"vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
    <div class="elementor-widget-wrap elementor-element-populated">

        @* Description *@
        @if (Model.HeaderDescription != null)
        {
            <div class="elementor-element elementor-element-19d796b elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="19d796b" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <style>/*! elementor - v3.21.0 - 08-05-2024 */
                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
                    </style>
                    <div @Html.EditAttributes(x => x.HeaderDescription)>
                        @Html.Raw(Model.HeaderDescription.ToString())
                    </div>
                </div>
            </div>
        }

    </div>
</div>

</div>