@* Views/SingleClassPage/Sections/_StatsSection.cshtml *@
@model VIVEcms.Models.Pages.SingleClassPage
@using EPiServer.Web.Mvc.Html

<div class="elementor-container elementor-column-gap-default">

@* ===== STAT 1 ===== *@
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-5a42c15" data-element_type="column" data-id="5a42c15" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-2659f47 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="2659f47" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <style>/*! elementor - v3.21.0 - 08-05-2024 */
                    .elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
                </style>
                <h3 class="elementor-heading-title elementor-size-default"
                    @Html.EditAttributes(x => x.Stat1Label)>
                    @Model.Stat1Label
                </h3>
            </div>
        </div>
        <div class="elementor-element elementor-element-baa9b06 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="baa9b06" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <div class="elementor-heading-title elementor-size-default"
                     @Html.EditAttributes(x => x.Stat1Value)>
                    @Model.Stat1Value
                </div>
            </div>
        </div>
    </div>
</div>

@* ===== STAT 2 ===== *@
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-653de8d" data-element_type="column" data-id="653de8d" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-fa56729 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="fa56729" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default"
                    @Html.EditAttributes(x => x.Stat2Label)>
                    @Model.Stat2Label
                </h3>
            </div>
        </div>
        <div class="elementor-element elementor-element-0b0cdd2 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="0b0cdd2" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <div class="elementor-heading-title elementor-size-default"
                     @Html.EditAttributes(x => x.Stat2Value)>
                    @Model.Stat2Value
                </div>
            </div>
        </div>
    </div>
</div>

@* ===== STAT 3 ===== *@
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-38b2342" data-element_type="column" data-id="38b2342" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-1183281 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="1183281" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default"
                    @Html.EditAttributes(x => x.Stat3Label)>
                    @Model.Stat3Label
                </h3>
            </div>
        </div>
        <div class="elementor-element elementor-element-b42d6b3 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="b42d6b3" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <div class="elementor-heading-title elementor-size-default"
                     @Html.EditAttributes(x => x.Stat3Value)>
                    @Model.Stat3Value
                </div>
            </div>
        </div>
    </div>
</div>

@* ===== STAT 4 ===== *@
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-643b189" data-element_type="column" data-id="643b189" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-a6f306b elementor-widget elementor-widget-heading" data-element_type="widget" data-id="a6f306b" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default"
                    @Html.EditAttributes(x => x.Stat4Label)>
                    @Model.Stat4Label
                </h3>
            </div>
        </div>
        <div class="elementor-element elementor-element-c213400 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="c213400" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <div class="elementor-heading-title elementor-size-default"
                     @Html.EditAttributes(x => x.Stat4Value)>
                    @Model.Stat4Value
                </div>
            </div>
        </div>
    </div>
</div>

</div>