@* Views/ShopPage/Sections/_CategoryBannerSection.cshtml *@
@model VIVEcms.Models.Pages.ShopPage
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@{
@* Background images applied as inline style on column divs *@
var bg1 = !ContentReference.IsNullOrEmpty(Model.Banner1BackgroundImage)
    ? $"background-image:url('{Url.ContentUrl(Model.Banner1BackgroundImage)}');"
    : "";

var bg2 = !ContentReference.IsNullOrEmpty(Model.Banner2BackgroundImage)
    ? $"background-image:url('{Url.ContentUrl(Model.Banner2BackgroundImage)}');"
    : "";

var bg3 = !ContentReference.IsNullOrEmpty(Model.Banner3BackgroundImage)
    ? $"background-image:url('{Url.ContentUrl(Model.Banner3BackgroundImage)}');"
    : "";
}

<section class="elementor-section elementor-top-section elementor-element elementor-element-1a3f856 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="1a3f856" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
<div class="elementor-container elementor-column-gap-default">

    @* ===== BANNER 1 — Left 50% ===== *@
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6ed9930" data-element_type="column" data-id="6ed9930" data-settings='{"background_background":"classic","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'
         
         >
        <div style="@bg1" class="elementor-widget-wrap elementor-element-populated"@Html.EditAttributes(x => x.Banner1BackgroundImage)>

            @* Banner 1 Title *@
            <div class="elementor-element elementor-element-08c9203 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="08c9203" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-default"
                         @Html.EditAttributes(x => x.Banner1Title)>
                        @Model.Banner1Title
                    </div>
                </div>
            </div>

            @* Banner 1 Button *@
            <div class="elementor-element elementor-element-f998b88 elementor-widget__width-auto elementor-widget elementor-widget-button" data-element_type="widget" data-id="f998b88" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="button.default">
                <div class="elementor-widget-container">
                    <div class="elementor-button-wrapper">
                        <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-rotate"
                           href="@(Model.Banner1ButtonUrl?.ToString() ?? "#")"
                           @Html.EditAttributes(x => x.Banner1ButtonUrl)>
                            <span class="elementor-button-content-wrapper">
                                <span class="elementor-button-text"
                                      @Html.EditAttributes(x => x.Banner1ButtonText)>
                                    @Model.Banner1ButtonText
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @* ===== BANNERS 2 & 3 — Right 50% ===== *@
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4eddeec" data-element_type="column" data-id="4eddeec" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
        <div class="elementor-widget-wrap elementor-element-populated">

            @* ===== BANNER 2 — Right Top ===== *@
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-50aa822 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="50aa822" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0b62daa" data-element_type="column" data-id="0b62daa" data-settings='{"background_background":"classic","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'
                         >
                        <div class="elementor-widget-wrap elementor-element-populated"style="@bg2"
                         @Html.EditAttributes(x => x.Banner2BackgroundImage)>

                            @* Banner 2 Title *@
                            <div class="elementor-element elementor-element-5bf84de elementor-widget elementor-widget-heading" data-element_type="widget" data-id="5bf84de" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-heading-title elementor-size-default"
                                         @Html.EditAttributes(x => x.Banner2Title)>
                                        @Model.Banner2Title
                                    </div>
                                </div>
                            </div>

                            @* Banner 2 Button *@
                            <div class="elementor-element elementor-element-1ec16fd elementor-widget__width-auto elementor-widget elementor-widget-button" data-element_type="widget" data-id="1ec16fd" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-rotate"
                                           href="@(Model.Banner2ButtonUrl?.ToString() ?? "#")"
                                           @Html.EditAttributes(x => x.Banner2ButtonUrl)>
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text"
                                                      @Html.EditAttributes(x => x.Banner2ButtonText)>
                                                    @Model.Banner2ButtonText
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            @* ===== BANNER 3 — Right Bottom ===== *@
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-7104a1f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="7104a1f" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5d53ac5" data-element_type="column" data-id="5d53ac5" data-settings='{"background_background":"classic","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'
                         >
                        <div class="elementor-widget-wrap elementor-element-populated"style="@bg3"
                         @Html.EditAttributes(x => x.Banner3BackgroundImage)>

                            @* Banner 3 Title *@
                            <div class="elementor-element elementor-element-45dea6e elementor-widget elementor-widget-heading" data-element_type="widget" data-id="45dea6e" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-heading-title elementor-size-default"
                                         @Html.EditAttributes(x => x.Banner3Title)>
                                        @Model.Banner3Title
                                    </div>
                                </div>
                            </div>

                            @* Banner 3 Button *@
                            <div class="elementor-element elementor-element-ecfcb75 elementor-widget__width-auto elementor-widget elementor-widget-button" data-element_type="widget" data-id="ecfcb75" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-rotate"
                                           href="@(Model.Banner3ButtonUrl?.ToString() ?? "#")"
                                           @Html.EditAttributes(x => x.Banner3ButtonUrl)>
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text"
                                                      @Html.EditAttributes(x => x.Banner3ButtonText)>
                                                    @Model.Banner3ButtonText
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>
</section>